<nb-card style="width: 800px; height: 600px;">
    <nb-card-header>
        <h5 >Adding Seal #: {{newSealNumber}}  </h5>
        <p>Select components to be sealed (selecting seals will have no effect)</p>
    </nb-card-header>
    <nb-card-body>
        <nb-list *ngFor=" let def of componentDefList">
            <nb-list-item >
                 <nb-checkbox 
                
                 checked
                 [checked]="def.Checked"
                 (change)="def.Checked"
                 value="def.SlotComponentDefId"
                
                  ngDefaultControl class="float-left" status="basic"> {{def.ToStringText}} </nb-checkbox>  
            </nb-list-item>
        </nb-list>
        
        <nb-list>
            <nb-list-item *ngFor="let seal of seal">
                 <nb-checkbox [(ngModel)]="newSeal"  ngDefaultControl class="float-left" status="basic"> <b>Seal Number:</b> {{seal.SealNumber}}</nb-checkbox>  
            </nb-list-item>
        </nb-list>
        <nb-list *ngIf=" logicCage && logicCage.SlotComponentId" >
            <nb-list-item >
                
                 <nb-checkbox [(ngModel)]="newLogicCage"  ngDefaultControl class="float-left" status="basic"><b>Logic Cage:</b> {{logicCage.SlotComponentId}} </nb-checkbox>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton class="float-left" outline status="danger" (click)="cancelReplaceSeal()">Cancel Replace Seal</button>
        <button nbButton class="float-right" outline (click)="next()" >Next</button>
    </nb-card-footer>
</nb-card>
