<nb-card style="width: 800px; height: 600px;">
    <nb-card-header>
        <h5 >Adding Seal #: {{newSeal}}  </h5>
        <p>Select components to be sealed (selecting seals will have no effect)</p>
    </nb-card-header>
    <nb-card-body>
        <nb-list *ngFor=" let def of componentDefList">
            <nb-list-item >
                <nb-checkbox class="float-left" status="basic"></nb-checkbox> <p> {{def.ToStringText}} </p>
            </nb-list-item>
        </nb-list>
        
        <nb-list>
            <nb-list-item *ngFor="let seal of seal">
                <p> <nb-checkbox class="float-left" status="basic"></nb-checkbox> <b>Seal Number:</b> {{seal.SealNumber}} </p>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton class="float-left" outline status="danger" (click)="cancelReplaceSeal()">Cancel Replace Seal</button>
        <button nbButton class="float-right" outline (click)="next()" >Next</button>
    </nb-card-footer>
</nb-card>
