<nb-card *ngIf="BJTable">
  <nb-card-header>
    <button nbButton size="large" class="float-left" (click)=back()>< Back</button><h4 style="width: fit-content; margin: auto; margin-top: .5em;">Log Felt Change</h4>
  </nb-card-header>
  <nb-card-body>
    <nb-list class="full-border">
      <nb-list-item style="background-color: #f5f5f5;"><h6 style="margin-bottom: 0;">{{BJTable.PitTable}}-{{BJTable.SerialNumber}}</h6></nb-list-item>
      <nb-list-item>
        <div class="grid-container">
          <div style="display: flex;"><div class="vertical-center">Reason</div></div>
          <input nbInput [(ngModel)]="Reason">
        </div>
      </nb-list-item>
      <nb-list-item>
        <div class="grid-container">
          <div style="display: flex;"><div class="vertical-center">Comments</div></div>
          <input nbInput [(ngModel)]="Comments">
        </div>
      </nb-list-item>
    </nb-list>
    <button nbButton size="large" fullWidth (click)=confirm()>Confirm</button>
  </nb-card-body>
</nb-card>

