<nb-card>
    <nb-card-header>
        <button nbButton ghost size="medium" class="float-left" (click)="goBack()">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>On Floor Slots
        </button>
        <h4 style="width: fit-content; margin: auto;">On Floor Slot</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list *ngIf="slot && sid">
            <nb-list-item>
                <label> <b>Serial Number:</b> {{slot.SerialNumber}} </label>
            </nb-list-item>
            <nb-list-item>
                <label> <b> Slot #:</b> {{slot.SlotNumber}} </label>
            </nb-list-item>
            <nb-list-item>
                <label> <b>Manufacturer:</b> {{slot.DisplayManufacturer}} </label>
            </nb-list-item>
            <nb-list-item>
                <label> <b> Cabinet Model:</b> {{slot.CabinetModel}} </label>
            </nb-list-item>
            <nb-list-item>
                <label> <b> Game Chip: </b> {{slot.GameChip}} </label>
            </nb-list-item>
            <nb-list-item>
                <label> <b> WF State:</b> {{slot.WorkflowState}} </label>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        <h5 style="width: fit-content; margin:auto">Avaliable Actions</h5>
    </nb-card-header>
    <nb-card-body>

        <div *ngIf=" slot.WorkflowState == 'Active' ">
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=cancelScheduledEvent()
                disabled>Cancel Scheduled Event(s)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=completeConversionLSC()
                disabled>Complete Conversion LSC</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=completeConversionMLC()
                disabled>Complete Conversion MLC</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=completeMoveToStorage()
                disabled>Complete Move To Storage</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editConversion()
                disabled>Edit Conversion</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSealGC() disabled>Edit
                Seal GC</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSeals()>Edit
                Seals</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=emergencyDropInspection()>Emergency Drop Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=forensicFieldChecklist()
                disabled>Forensic Field Checklist</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=gcInspection()>GC
                Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify100K()>JP Verify
                $100K & Above</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify10K()>JP Verify $10K
                - $19,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify20K()>JP Verify
                $20K-$49,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify50K()>JP Verify
                $50K- $99,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=mediaVerification()>Media
                Verification</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=preventativeMaintenance()>Preventative Maintenance</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=openQuickCorrection()>Quick
                Correction</button>
            <button *ngIf="gds.smqSlotRepairAdmin" nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=ramClearPerform() disabled>Ram Clear: Perform with Meters</button>
            <button *ngIf="gds.smqSlotRepairAdmin" nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=scheduleConversions() disabled>Schedule Conversions (Adv)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=scheduleMoveToStorage()
                disabled>Schedule Move To Storage (Adv)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=scheduleTournament()
                disabled> Schedule Tournament</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stackerFullRecord()>Stacker
                Full Record</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=stateOfMinnesotaInspection()>State Of Minnesota Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=updateActiveSlot()>Update
                Active Slot</button>
        </div>
        <div *ngIf="slot.WorkflowState == 'Ram Cleared' ">
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSealGC() disabled>Edit
                Seal (GC)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSeals() disabled>Edit
                Seals</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=emergencyDropInspection()
                disabled>Emergency Drop Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=forensicFieldChecklist()
                disabled> Forensic Field Checklist</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=mediaVerification()
                disabled>Media Verification</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=preventativeMaintenance()>Preventative Maintenance</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=ramClearInspect()
                disabled>RAM Clear: Inspect (GE)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=ramClearPerform()
                disabled>Ram Clear: Perform with Meters</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=scheduleConversion()
                disabled>Schedule Conversion</button>
        </div>
        <div *ngIf="slot.WorkflowState =='RAM Clear Inspect'">
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSealGC() disabled>Edit
                Seal (GC)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSeals() disabled>Edit
                Seals</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=emergencyDropInspection()
                disabled>Emergency Drop Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=forensicFieldChecklist()
                disabled> Forensic Field Checklist</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=gcInspection() disabled>GC
                Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=mediaVerification()>Media
                Verification</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=preventativeMaintenance()>Preventative Maintenance</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=ramClearPerform()
                disabled>Ram Clear: Perform with Meters</button>

        </div>
        <div *ngIf="slot.WorkflowState =='Suspended'">
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSealGC() disabled>Edit
                Seal (GC)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSeals() disabled>Edit
                Seals</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=mediaVerification()>Media
                Verification</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=quickCorrection()
                disabled>Quick Correction</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=ramClearInspect()
                disabled>RAM Clear: Inspect (GE)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=requestActivation()
                disabled>Request Activation</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stateOfMinnesotaInspection()
                disabled>State Of Minnesota Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=updateActiveSlot()
                disabled>Update Active Slot</button>

        </div>
        <div *ngIf="slot.WorkflowState =='GC Jackpot Verification'">
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSealGC() disabled>Edit
                Seal (GC)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=emergencyDropInspection()
                disabled>Emergency Drop Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=forensicFieldChecklist()
                disabled> Forensic Field Checklist</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=gcInspection() disabled>GC
                Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stackerFullRecord()>Stacker
                Full Record</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stateOfMinnesotaInspection()
                disabled>State Of Minnesota Inspection</button>

        </div>
        <div *ngIf="slot.WorkflowState =='Jackpot Suspension'">
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSealGC() disabled>Edit
                Seal (GC)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSeals() disabled>Edit
                Seals</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=forensicFieldChecklist()
                disabled> Forensic Field Checklist</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify100K() disabled>JP
                Verify $100K & Above</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify10K()>JP Verify $10K
                - $19,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify20K() disabled>JP
                Verify $20K-$49,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify50K() disabled>JP
                Verify $50K- $99,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stateOfMinnesotaInspection()
                disabled>State Of Minnesota Inspection</button>

        </div>
        <div *ngIf="slot.WorkflowState =='Tournament Mode'">
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=deactivateTournamentMode()
                disabled>De-Activate Tournament Mode</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSealGC() disabled>Edit
                Seal (GC)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSeals() disabled>Edit
                Seals</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=emergencyDropInspection()
                disabled>Emergency Drop Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=forensicFieldChecklist()
                disabled> Forensic Field Checklist</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=gcInspection() disabled>GC
                Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=preventativeMaintenance()>Preventative Maintenance</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=quickCorrection()
                disabled>Quick Correction</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stateOfMinnesotaInspection()
                disabled>State Of Minnesota Inspection</button>

        </div>
        <div *ngIf="slot.WorkflowState =='Tournament Scheduled'">
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=activateTournamentMode()
                disabled>Activate Tournament Mode</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=cancelScheduledEvents()
                disabled>Cancel Scheduled Event(s)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSealGC() disabled>Edit
                Seal (GC)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSeals() disabled>Edit
                Seals</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=emergencyDropInspection()
                disabled>Emergency Drop Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=forensicFieldChecklist()
                disabled> Forensic Field Checklist</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify100K() disabled>JP
                Verify $100K & Above</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify10K()>JP Verify $10K
                - $19,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify20K() disabled>JP
                Verify $20K-$49,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify50K() disabled>JP
                Verify $50K- $99,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=mediaVerification()>Media
                Verification</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=preventativeMaintenance()>Preventative Maintenance</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=ramClearPerform()
                disabled>Ram Clear: Perform with Meters</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=scheduleTournament()
                disabled> Schedule Tournament</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stackerFullRecord()>Stacker
                Full Record</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stateOfMinnesotaInspection()
                disabled>State Of Minnesota Inspection</button>

        </div>
        <div *ngIf="slot.WorkflowState =='GC Review'">
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSealGC() disabled>Edit
                Seal (GC)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSeals() disabled>Edit
                Seals</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=emergencyDropInspection()
                disabled>Emergency Drop Inspection</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=forensicFieldChecklist()
                disabled> Forensic Field Checklist</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify100K()>JP Verify
                $100K & Above</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify10K()>JP Verify $10K
                - $19,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify20K()>JP Verify
                $20K-$49,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify50K()>JP Verify
                $50K- $99,999.99</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=mediaVerification()>Media
                Verification</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=preventativeMaintenance()>Preventative Maintenance</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=quickCorrection()
                disabled>Quick Correction</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=ramClearPerform()
                disabled>Ram Clear: Perform with Meters</button>
            <button *ngIf="gds.smqSlotRepairAdmin" nbButton fullWidth status="primary" style="margin-bottom: 5px;"
                (click)=scheduleConversions() disabled>Schedule Conversions (Adv)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=scheduleMoveToStorage()
                disabled>Schedule Move To Storage (Adv)</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=scheduleTournament()
                disabled> Schedule Tournament</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stackerFullRecord()>Stacker
                Full Record</button>
            <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stateOfMinnesotaInspection()
                disabled>State Of Minnesota Inspection</button>


        </div>
    </nb-card-body>
</nb-card>