<nb-card [size]="'large'">
    <nb-card-header>
        <button nbButton ghost size="medium" class="float-left" (click)="goBack()">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>On Floor Slots
        </button>
        <h4 style="width: fit-content; margin: auto;">On Floor Slot</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list *ngIf="slot && sid">
            <nb-list-item>
                <label> <b>Serial Number:</b> {{slot.SerialNumber}} </label> 
            </nb-list-item>
            <nb-list-item>
                <label> <b> Slot #:</b> {{slot.SlotNumber}} </label>
            </nb-list-item>
            <nb-list-item>
                <label> <b>Manufacturer:</b>  {{slot.DisplayManufacturer}} </label>
            </nb-list-item>
            <nb-list-item>
                <label> <b> Cabinet Model:</b> {{slot.CabinetModel}} </label>
            </nb-list-item>
            <nb-list-item>
                <label> <b> Game Chip: </b> {{slot.GameChip}} </label>
            </nb-list-item>
            <nb-list-item>
                <label> <b> WF State:</b> {{slot.WorkflowState}} </label>
            </nb-list-item>
        </nb-list>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;"
            (click)=emergencyDropInspection()>Emergency Drop Inspection</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerifyTenTwenty()>JP Verify
            $10K - $19,999.99</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=mediaVerification()>Media
            Verification</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=stackerFullRecord()>Stacker Full
            Record</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=preventativeMaintenance()>Preventative
             Maintenance</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=completeConversionLSC() disabled>Complete Conversion LSC</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=completeConversionMLC() disabled>Complete Conversion MLC</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=completeMoveToStorage() disabled>Complete Move To Storage</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editConversion() disabled>Edit Conversion</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSealGC() disabled>edit Seal GC</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=editSeals() disabled>Edit Seals</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=forensicFieldChecklist() disabled>Forensic Field Checklist</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=gcInspection() disabled>GC Inspection</button>
        <button nbButton fullWidth status="primary" style="margin-bottom: 5px;" (click)=jpVerify100K() disabled>JP Verify $100K & Above</button>
        

    </nb-card-body>
</nb-card>
