<nb-card [size]="'large'">
    <nb-card-header>
        <button nbButton ghost size="medium" status="danger" class="float-left" (click)="cancel()">
            <nb-icon icon="slash-outline"></nb-icon>Cancel
        </button>
        <h4 style="width: fit-content; margin: auto;">Request Activation</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item [style.backgroundColor]="tempChecklist.ScheduledChanges.Fail ? '#ff3d71' : ''">
                <label>All scheduled changes for this slot have been completed successfully. All physical machine parameters match IRIS/GAINS. </label>
                    <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.ScheduledChanges.Fail"
                    (change)="applyToChecklist('ScheduledChanges','Fail')">Fail</nb-checkbox>
                    <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.ScheduledChanges.Pass"
                    (change)="applyToChecklist('ScheduledChanges','Pass')">Pass</nb-checkbox>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton ghost size="medium" status="danger" class="float-left" (click)="cancel()">
            <nb-icon icon="slash-outline"></nb-icon>Cancel
        </button>
        <button nbButton ghost size="medium" status="success" class="float-right" (click)="finish()">
           Finish
        </button>
    </nb-card-footer>
</nb-card>
