<!--<button nbButton size="large" fullWidth  (click)=openProject(project)>Tournaments</button>-->
<button nbButton size="large" fullWidth (click)=openBJProjects()>BJ Projects</button>
<button nbButton size="large" fullWidth (click)=openBJTables()>Table Games</button>
<!--<button nbButton size="large" fullWidth (click)=openProject(project)>Log Felt Change</button>-->
<button nbButton size="large" fullWidth (click)=openShufflers()>Shufflers</button>
<button nbButton size="large" fullWidth (click)=openATR() disabled>ATR</button>
<!--<button nbButton size="large" fullWidth (click)=openRelicensing()>Relicensing</button>-->
<!--<button nbButton size="large" fullWidth (click)=openProject(project)>Slot Projects</button>-->

<!--<a ui-sref="menu.bJTournaments()" id="casinoManagerHome-button28" ng-show="false" class="button button-positive button-block icon-left ion-ios-flag">Tournaments</a>
<a ui-sref="menu.bJProjects()" id="casinoManagerHome-button33" ng-if="roles.isBJFeltLog || roles.isGamingAgent || roles.isAdmin" class="button button-positive button-block icon-left ion-folder">BJ Projects</a>
<a ui-sref="menu.searchTables()" id="casinoManagerHome-button31" ng-if="roles.isBJFeltLog || roles.GamingAgent || roles.isAdmin" class="button button-positive button-block icon-left ion-android-funnel">BJ Tables</a>
<a ui-sref="menu.findFeltChangeTable()" id="casinoManagerHome-button32" ng-show="false" class="button button-positive button-block icon-left ion-clipboard">Log Felt Change</a>
<a ui-sref="menu.shuffleMasters()" id="casinoManagerHome-button30" ng-if="roles.isBJFeltLog || roles.isGamingAgent || roles.isAdmin" class="button button-positive button-block icon-left ion-shuffle">Shufflers</a>
<a ui-sref="menu.searchATRs()" id="casinoManagerHome-button40" ng-if="roles.isATR || roles.isGamingAgent || roles.isAuditAgent || roles.isAdmin" class="button button-positive button-block icon-left ion-ios-barcode-outline">ATR</a>
<a ui-sref="menu.cDIHome()" id="casinoManagerHome-button127" ng-if="roles.isATR || roles.isGamingAgent || roles.isAuditAgent || roles.isAdmin" class="button button-positive button-block icon-left ion-ios-checkmark">CDI</a>
<a ui-sref="menu.relicensing()" id="casinoManagerHome-button135" ng-if="showRelicensing()" class="button button-positive button-block icon-left ion-ios-paper">Relicensing</a>
<a ui-sref="menu.storageSlots()" id="casinoManagerHome-button164" ng-if="false" class="button button-positive button-block icon-left ion-archive">Storage Slots</a>
<div id="casinoManagerHome-markdown5" ng-click="viewVersionDetails()" class="show-list-numbers-and-dots">
  <p style="color:#0645AD;">Version Details</p>
</div>
<a ui-sref="slotProjects()" id="casinoManagerHome-button144" ng-if="false &amp;&amp; (roles.isGamingAgent || roles.isAdmin)" class="button button-positive button-block icon-left ion-folder">Slot Projects</a>-->
