<nb-card [size]="'large'">
    <nb-card-header>
        <h4 style="width: fit-content; margin: auto;">Media Verification</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item><b>Cleaning</b></nb-list-item>
            
            <nb-list-item>
                <label>Vacuum Machine:</label>
                <nb-radio-group class="float-right" [(ngModel)]="vaccum">
                    <nb-radio *ngFor="let vaccum of vaccums" 
                    [value]="vaccum.value" 
                    style="display: inline-block;">
                        {{ vaccum.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label> Blow Out Logic: </label>
                <nb-radio-group class="float-right" [(ngModel)]="blowOut">
                    <nb-radio *ngFor="let blowOut of blowOuts" 
                    [value]="blowOut.value" 
                    style="display: inline-block;">
                        {{ blowOut.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label> Calibrate Touch Screen:</label>
                <nb-radio-group class="float-right" [(ngModel)]="touchScreen">
                    <nb-radio *ngFor="let touchScreen of touchScreens" 
                    [value]="touchScreen.value" 
                    style="display: inline-block;">
                        {{ touchScreen.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label> Calibrate / test Button Panel:</label>
                <nb-radio-group class="float-right" [(ngModel)]="testButton">
                    <nb-radio *ngFor="let testButton of testButtons" 
                    [value]="testButton.value" 
                    style="display: inline-block;">
                        {{ testButton.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item><b>Test</b></nb-list-item>
            <nb-list-item>
                <label> DBA: </label>
                <nb-radio-group class="float-right" [(ngModel)]="dba">
                    <nb-radio *ngFor="let dba of dbas" 
                    [value]="dba.value" 
                    style="display: inline-block;">
                        {{ dba.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label> Printer:</label>
                <nb-radio-group class="float-right" [(ngModel)]="printer">
                    <nb-radio *ngFor="let printer of printers" 
                    [value]="printer.value" 
                    style="display: inline-block;">
                        {{ printer.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label> Door Switches: </label>
                <nb-radio-group class="float-right" [(ngModel)]="door">
                    <nb-radio *ngFor="let door of doors" 
                    [value]="door.value" 
                    style="display: inline-block;">
                        {{ door.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label>Comments:</label>
                <textarea nbInput fullWidth placeholder="Comments"></textarea>
            </nb-list-item>
        </nb-list>
        <button nbButton class="float-right" ghost size="medium" (click)="finish()">Finish</button>
        <button nbButton ghost size="medium" (click)="cancel()">Cancel</button>
    </nb-card-body>
</nb-card>
