<nb-card [size]="'large'">
    <nb-card-header>
        <h4 style="width: fit-content; margin: auto;">Media Verification</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item><b>Cleaning</b></nb-list-item>
            
            <nb-list-item>
                <label>Vacuum Machine:</label>
                <nb-checkbox class="float-right" status="basic">N/A</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Blow Out Logic: </label>
                <nb-checkbox class="float-right" status="basic">N/A</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Calibrate Touch Screen:</label>
                <nb-checkbox class="float-right" status="basic">N/A</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Calibrate / test Button Panel:</label>
                <nb-checkbox class="float-right" status="basic">N/A</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item><b>Test</b></nb-list-item>
            <nb-list-item>
                <label> DBA: </label>
                <nb-checkbox class="float-right" status="basic">N/A</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Printer:</label>
                <nb-checkbox class="float-right" status="basic">N/A</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Door Switches: </label>
                <nb-checkbox class="float-right" status="basic">N/A</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label>Comments:</label>
                <textarea nbInput fullWidth placeholder="Comments"></textarea>
            </nb-list-item>
        </nb-list>
        <button nbButton class="float-right" ghost size="medium" (click)="finish()">Finish</button>
        <button nbButton ghost size="medium" (click)="cancel()">Cancel</button>
    </nb-card-body>
</nb-card>
