.item-divider {
  background-color: #f5f5f5;
}

.no-shuffler-issues {
  color: #6BCA86;
}

.with-border {
  border: 1px solid #ddd !important;
  display: flex;
  align-items: center;
}

.item-note {
  margin-left: auto;
  color: #aaa;
}

.icon {
  font-size: 2em;
  padding-right: .5em;
}
