<nb-card style=" height: 600px; width: 800px ;">
    <nb-card-header>
        <h4>Replace Seal</h4>
    </nb-card-header>
    <nb-card-body>
       <label > Scan new Seal #:</label> <br>
        <input nbInput type="text" placeHolder="Seal #" [(ngModel)]="newSealNumber" required>
        <p *ngIf="seal && seal.SealNumber">Note: Adding this seal wiill break Seal # {{seal.SealNumber}}</p>
    </nb-card-body>
    <nb-card-body>
        <label>Reason for Replacement</label> <br>
        <nb-select placeholder="Select Showcase" [(selected)]="selectedItem">
            <nb-option value="">Option empty</nb-option>
            <nb-option value="0">Option 0</nb-option>
            <nb-option value="1">Option 1</nb-option>
            <nb-option value="2">Option 2</nb-option>
            <nb-option value="3">Option 3</nb-option>
            <nb-option value="4">Option 4</nb-option>
          </nb-select>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton class="float-left" outline status="danger" (click)="cancelReplaceSeal()">Cancel Replace Seal</button>
        <button nbButton class="float-right" outline (click)="next()" >Next</button>
    </nb-card-footer>
</nb-card>