<nb-card style=" height: 600px; width: 800px ;">
    <nb-card-header>
        <h4>Replace Seal</h4>
    </nb-card-header>
    <nb-card-body>
       <label > Scan new Seal #:</label> <br>
        <input nbInput type="text" placeHolder="Seal #" [(ngModel)]="newSealNumber" required>
        <p style="color: red;" *ngFor=" let seal of seal" >Note: Adding this seal wiill break Seal # {{seal.SealNumber}}</p>
    </nb-card-body> 
    <nb-card-body>
        <label>Reason for Replacement</label> <br>
        <nb-select placeholder="Select Showcase" [(selected)]="selectedItem">
            <nb-option value="">Option empty</nb-option>
            <nb-option value="0">Conversion</nb-option>
            <nb-option value="1">RAM Cleared</nb-option>
            <nb-option value="2">Missing Seal</nb-option>
            <nb-option value="3">Broken Seal</nb-option>
            <nb-option value="4">Seal Defective</nb-option>
            <nb-option value="5">Jackpot Verification</nb-option>
            <nb-option value="6">Machine or Option Set-up</nb-option>
            <nb-option value="7">GC Slot Inspection</nb-option>
            <nb-option value="8">IA Slot Inspection</nb-option>
            <nb-option value="9">MFG Never Shipped</nb-option>
          </nb-select>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton class="float-left" outline status="danger" (click)="cancelReplaceSeal()">Cancel Replace Seal</button>
        <button nbButton class="float-right" outline (click)="next()" >Next</button>
    </nb-card-footer>
</nb-card>