<nb-card [size]="'large'" *ngIf="stage == 'summary'">
    <nb-card-header>
        <button nbButton ghost size="medium" status="danger" class="float-left" (click)="cancel()">
            <nb-icon icon="slash-outline"></nb-icon>Cancel
        </button>
        <h4 style="width: fit-content; margin: auto;">LSC Conversion Summary </h4>
        <h6>Conversion Details</h6>
    </nb-card-header>
    <nb-card-body>
        Floor Moves/ Changes 


        <hr>
        <b>Location Details:</b>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton outline class="float-right" (click)="next()">Next</button>
    </nb-card-footer>
    </nb-card>
