<nb-card [size]="'large'">
  <nb-card-header [nbSpinner]="loading" nbSpinnerStatus="danger">
    <button nbButton class="float-right" style="margin-bottom: 5px; margin-left: .5em;" *ngIf="complete" (click)="confirmSchedule()">
      Confirm
    </button>
    <div class="float-right">
      <input nbInput placeholder="Scheduled Date" [nbDatepicker]="datePicker" [(ngModel)]="scheduledDate">
      <nb-datepicker #datePicker></nb-datepicker>
    </div>
    <button nbButton class="float-left" style="margin-bottom: 5px;" (click)=saveAsCSV()>
      Download
    </button>
    <label for="file-upload" class="custom-file-upload float-left">
      UPLOAD
    </label><input type="file" class="upload" (change)="changeListener($event)" id="file-upload">
    <h4 style="width: fit-content; margin: auto;">Change Summary</h4>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let change of changes" [ngStyle]="{'cursor': (change.Errors) ? 'pointer' : (change.Changes.length > 0) ?
              ((change.Ambiguous) ? 'pointer' : 'inherit') : 'inherit'}">
        <span [ngStyle]="{'color': (change.Errors) ? 'red' : (change.Changes.length > 0) ?
              ((change.Ambiguous) ? 'orange' : 'green') : 'inherit'}"><b>{{change.Description}}</b></span>
        <span *ngIf="change.Unchanged"> (Unchanged)</span>
        <!--<div *ngIf="change.Errors > 0" style="color: red">Error: {{change.Errors}}</div>-->
        <div *ngIf="change.Changes.length > 0">
          <nb-list>
            <nb-list-item *ngFor="let fieldChange of change.Changes" (click)="resolveAmbiguity(change, fieldChange)">
              <div *ngIf="!change.Errors"><b>{{fieldChange.Field}}:</b> {{fieldChange.Old}} -> {{fieldChange.New}}</div>
              <div *ngIf="change.Errors" style="color: red"><b>{{fieldChange.Field}}:</b> {{fieldChange.Error}}</div>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>

<!--<span [ngStyle]="{'color': (change.Errors.length > 0) ? 'red' : (change.Changes.length > 0) ?
((change.Ambiguous) ? 'orange' : 'green') : 'inherit',
cursor: (change.Errors.length > 0) ? 'pointer' : (change.Changes.length > 0) ?
((change.Ambiguous) > 'pointer' : 'inherit') : 'inherit'}"><b>{{change.Description}}</b></span>-->
