<nb-card [size]="'large'">
    <nb-card-header>
        <button nbButton ghost size="medium" class="float-left" (click)="cancel()">Cancel</button>
        <h4 style="width: fit-content; margin: auto;">State Inspection Record</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <!-- <nb-list-item [style.backgroundColor]="checklist.StateRepresentative ? '' : 'red'">
                <label>State of MN Representative:</label>
                <input nbInput class="float-right" placeholder="Name" [(ngModel)]="checklist.StateRepresentative">
            </nb-list-item>
            <nb-list-item>
                <label>Gaming Commission Representaitve:</label>
                <input nbInput class="float-right" placeholder="Name" [(ngModel)]="checklist.CommissionRepresentative">
            </nb-list-item>
            <nb-list-item>
                <label>Nature of Visit:</label>
                <nb-select class="float-right" placeholder="Select Showcase" [(selected)]="checklist.NatureOfVisit">
                    <nb-option>None</nb-option>
                    <nb-option [value]="1">Routine Inspection </nb-option>
                    <nb-option [value]="2">Complaint </nb-option>
                    <nb-option [value]="3">Investigation </nb-option>
                    <nb-option [value]="4">Other </nb-option>
            </nb-list-item> -->
        </nb-list>
    </nb-card-body>
</nb-card>