<nb-card>
  <nb-card-header [nbSpinner]="isLoading" nbSpinnerStatus="danger">
    <h5>Select matching component for {{slot}}:</h5>
    <input class="searchBar" [(ngModel)]="searchTerm" autocomplete="off" (change)="searchComps()" type="text"
           nbInput fullWidth placeholder="Search for components">
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let scd of scds" (click)="selectScd(scd)" style="cursor: pointer;">
        {{scd.SimplifiedDisplayText}}
      </nb-list-item>
      <nb-list-item *ngIf="scds.length < 1" style="color: red;">No components found matching "{{searchTerm}}".</nb-list-item>
    </nb-list>
    <button nbButton fullWidth style="margin-top:.5em" class="float-right" (click)="close()" status="danger">
      Cancel
    </button>
  </nb-card-body>
</nb-card>
