<nb-card [size]="'large'" *ngIf="stage == 'summary' && slot">
  <nb-card-header>
    <button nbButton outline size="medium" status="danger" class="float-left" (click)="cancel()">
      <nb-icon icon="slash-outline"></nb-icon>Cancel
    </button>
    <h4 style="width: fit-content; margin: auto;">Conversion Summary </h4>
  </nb-card-header>
  <nb-card-body>
    <h6 style="color: blue;">Floor Moves / Changes:</h6>
    <nb-list>
      <nb-list-item *ngIf="slot.SlotNumber != conversion.SlotNumber"><p class="m-0"> <b>SlotNumber:</b> {{slot.SlotNumber}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.SlotNumber}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.DetailedGameName != conversion.DetailedGameName"><p class="m-0"> <b>Game Name:</b> {{slot.DetailedGameName}} <nb-icon icon="arrow-forward-outline"></nb-icon> <br />{{conversion.DetailedGameName}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.ProgressiveDef != conversion.ProgressiveDef"><p class="m-0"> <b>Progressive Def:</b> {{slot.ProgressiveDef}} [{{slot.ProgressiveHId}}] <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.ProgressiveDef}} [{{conversion.ProgressiveHId}}]</p></nb-list-item>
      <nb-list-item *ngIf="slot.Zone != conversion.Zone"><p class="m-0"> <b>Zone:</b> {{slot.Zone}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.Zone}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.Address != conversion.Address"><p class="m-0"> <b>Address:</b> {{slot.Address}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.Address}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.SystemAddress != conversion.SystemAddress"><p class="m-0"> <b>SystemAddress:</b> {{slot.SystemAddress}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.SystemAddress}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.SlotLocation != conversion.SlotLocation"><p class="m-0"> <b>SlotLocation:</b> {{slot.SlotLocation}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.SlotLocation}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.GameType != conversion.GameType"><p class="m-0"> <b>GameType:</b> {{slot.GameType}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.GameType}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.TITO != conversion.TITO"><p class="m-0"> <b>TITO:</b> {{slot.TITO}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.TITO}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.Bill != conversion.Bill"><p class="m-0"> <b>Bill:</b> {{slot.Bill}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.Bill}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.Coin != conversion.Coin"><p class="m-0"> <b>Coin:</b> {{slot.Coin}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.Coin}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.Tokenized != conversion.Tokenized"><p class="m-0"> <b>Tokenized:</b> {{slot.Tokenized}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.Tokenized}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.EFTEnabled != conversion.EFTEnabled"><p class="m-0"> <b>EFTEnabled:</b> {{slot.EFTEnabled}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.EFTEnabled}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.DOM != conversion.DOM"><p class="m-0"> <b>DOM:</b> {{slot.DOM}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.DOM}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.LastAudited != conversion.LastAudited"><p class="m-0"> <b>LastAudited:</b> {{slot.LastAudited}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.LastAudited}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.Version != conversion.Version"><p class="m-0"> <b>Version:</b> {{slot.Version}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.Version}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.CabinetModel != conversion.CabinetModel"><p class="m-0"> <b>CabinetModel:</b> {{slot.CabinetModel}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.CabinetModel}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.CabinetColor != conversion.CabinetColor"><p class="m-0"> <b>CabinetColor:</b> {{slot.CabinetColor}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.CabinetColor}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.DBAType != conversion.DBAType"><p class="m-0"> <b>DBAType:</b> {{slot.DBAType}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.DBAType}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.PrinterType != conversion.PrinterType"><p class="m-0"> <b>PrinterType:</b> {{slot.PrinterType}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.PrinterType}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.CoinComparator != conversion.CoinComparator"><p class="m-0"> <b>CoinComparator:</b> {{slot.CoinComparator}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.CoinComparator}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.TypeCode != conversion.TypeCode"><p class="m-0"> <b>TypeCode:</b> {{slot.TypeCode}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.TypeCode}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.DateOfDelivery != conversion.DateOfDelivery"><p class="m-0"> <b>DateOfDelivery:</b> {{slot.DateOfDelivery}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.DateOfDelivery}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.HSNEnabled != conversion.HSNEnabled"><p class="m-0"> <b>HSNEnabled:</b> {{slot.HSNEnabled}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.HSNEnabled}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.Notes != conversion.Notes"><p class="m-0"> <b>Notes:</b> {{slot.Notes}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.Notes}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.LinkNumber != conversion.LinkNumber"><p class="m-0"> <b>LinkNumber:</b> {{slot.LinkNumber}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.LinkNumber}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.DispositionApprovalDate != conversion.DispositionApprovalDate"><p class="m-0"> <b>DispositionApprovalDate:</b> {{slot.DispositionApprovalDate}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.DispositionApprovalDate}}</p></nb-list-item>
      <nb-list-item *ngIf="slot.DispositionResolutionNumber != conversion.DispositionResolutionNumber"><p class="m-0"> <b>DispositionResolutionNumber:</b> {{slot.DispositionResolutionNumber}} <nb-icon icon="arrow-forward-outline"></nb-icon> {{conversion.DispositionResolutionNumber}}</p></nb-list-item>
    </nb-list>
    <h6 style="color: blue;">Component Changes:</h6>
    <nb-list>
      <nb-list-item *ngFor="let def of added"><b>Added:</b> {{def.ToStringText}}</nb-list-item>
      <nb-list-item *ngFor="let def of removed"><b>Removed:</b> {{def.ToStringText}}</nb-list-item>
    </nb-list>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton outline size="medium" status="danger" class="float-left" (click)="cancel()">
      <nb-icon icon="slash-outline"></nb-icon>Cancel
    </button>
    <button nbButton outline class="float-right" (click)="finish()">finish</button>
  </nb-card-footer>
</nb-card>
