<nb-card [size]="'large'">
    <nb-card-header>
      <button nbButton ghost size="medium" class="float-left" (click)="goBack()"><nb-icon icon="arrow-ios-back-outline"></nb-icon>Storage Slots</button>
        <div style="text-align: center; margin-bottom: 10px; padding: 5px 0 5px;"><h4>Search Stored Slots</h4></div>
        <input type="text" nbInput fullWidth placeholder="Search for stored slots">
    </nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item>
          Body
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
