<nb-card [size]="'large'">
    <nb-card-header>
        <button nbButton ghost size="medium" status="danger" class="float-left" (click)="cancel()"><nb-icon icon="slash-outline"></nb-icon>Cancel</button>
        <h4 style="width: fit-content; margin: auto;">Stacker Full Record</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item [style.backgroundColor]="tempChecklist.Bill.Fail ? 'rgba(255, 0, 0, 0.705)': ''" >
                <label>Bill Test:</label>
                <nb-checkbox class="float-right" status="basic"  [(ngModel)]="tempChecklist.Bill.Fail" (change)="applyToChecklist('Bill', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Bill.Pass" (change)="applyToChecklist('Bill', 'Pass')">Pass</nb-checkbox>
                    
            </nb-list-item>
            <nb-list-item [style.backgroundColor]="tempChecklist.Ticket.Fail ? 'rgba(255, 0, 0, 0.705)': ''">
                <label> Ticket Test: </label>
                <nb-checkbox class="float-right" status="basic"  [(ngModel)]="tempChecklist.Ticket.Fail" (change)="applyToChecklist('Ticket', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Ticket.Pass" (change)="applyToChecklist('Ticket', 'Pass')">Pass</nb-checkbox>
            </nb-list-item>
            <nb-list-item [style.backgroundColor]="tempChecklist.VerifyAmount.Fail ? 'rgba(255, 0, 0, 0.705)': ''">
                <label> Cash Out and Verify Amount:</label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.VerifyAmount.Fail" (change)="applyToChecklist('VerifyAmount', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.VerifyAmount.Pass" (change)="applyToChecklist('VerifyAmount', 'Pass')">Pass</nb-checkbox>
            </nb-list-item>
            <nb-list-item [style.backgroundColor]="tempChecklist.Deficiencies.Fail ? 'rgba(255, 0, 0, 0.705)': ''">
                <label> Correct Any Deficiencies:</label>
                <nb-checkbox class="float-right" status="basic"[(ngModel)]="tempChecklist.Deficiencies.Fail" (change)="applyToChecklist('Deficiencies', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Deficiencies.Pass" (change)="applyToChecklist('Deficiencies', 'Pass')">Pass</nb-checkbox>
            </nb-list-item>
            <nb-list-item [style.backgroundColor]="tempChecklist.Book.Fail ? 'rgba(255, 0, 0, 0.705)': ''">
                <label> MEAL Book Entry:</label>
                <nb-checkbox class="float-right" status="basic"  [(ngModel)]="tempChecklist.Book.Fail" (change)="applyToChecklist('Book', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Book.Pass" (change)="applyToChecklist('Book', 'Pass')">Pass</nb-checkbox>
            </nb-list-item>
        </nb-list>
        <button nbButton class="float-right" ghost size="medium" (click)="finish()">Finish</button>
        <button nbButton ghost size="medium" status="danger" (click)="cancel()"><nb-icon icon="slash-outline"></nb-icon>Cancel</button>
    </nb-card-body>
</nb-card>