<nb-card [size]="'large'">
    <nb-card-header>
        <h4 style="width: fit-content; margin: auto;">Media Verification</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item>
                <label>Bill Test:</label>
                <nb-checkbox class="float-right" status="basic" (checkedChange)="toggle($event)" [(ngModel)]="tempChecklist.Bill.Fail" (change)="applyToChecklist('Bill', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Bill.Issues" (change)="applyToChecklist('Bill', 'Issues')">Issues</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Bill.Pass" (change)="applyToChecklist('Bill', 'Pass')">Pass</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Bill.NA" (change)="applyToChecklist('Bill', 'N/A')">N/A</nb-checkbox>
                <input *ngIf="checked" nbInput fullWidth placeholder="How Much?">
                    
            </nb-list-item>
            <nb-list-item>
                <label> Ticket Test: </label>
                <nb-checkbox class="float-right" status="basic" (checkedChange)="toggle($event)" [(ngModel)]="tempChecklist.Ticket.Fail" (change)="applyToChecklist('Ticket', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Ticket.Issues" (change)="applyToChecklist('Ticket', 'Issues')">Issues</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Ticket.Pass" (change)="applyToChecklist('Ticket', 'Pass')">Pass</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Ticket.NA" (change)="applyToChecklist('Ticket', 'N/A')">N/A</nb-checkbox>
                <input *ngIf="checked" nbInput fullWidth placeholder="How Much?">
            </nb-list-item>
            <nb-list-item>
                <label> Cash Out and Verify Amount:</label>
                <nb-checkbox class="float-right" status="basic" (checkedChange)="toggle($event)" [(ngModel)]="tempChecklist.VerifyAmount.Fail" (change)="applyToChecklist('VerifyAmount', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.VerifyAmount.Issues" (change)="applyToChecklist('VerifyAmount', 'Issues')">Issues</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.VerifyAmount.Pass" (change)="applyToChecklist('VerifyAmount', 'Pass')">Pass</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.VerifyAmount.NA" (change)="applyToChecklist('VerifyAmount', 'N/A')">N/A</nb-checkbox>
                <input *ngIf="checked" nbInput fullWidth placeholder="How Much?">
            </nb-list-item>
            <nb-list-item>
                <label> Correct Any Deficiencies:</label>
                <nb-checkbox class="float-right" status="basic" (checkedChange)="toggle($event)" [(ngModel)]="tempChecklist.Deficiencies.Fail" (change)="applyToChecklist('Deficiencies', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Deficiencies.Issues" (change)="applyToChecklist('Deficiencies', 'Issues')">Issues</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Deficiencies.Pass" (change)="applyToChecklist('Deficiencies', 'Pass')">Pass</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Deficiencies.NA" (change)="applyToChecklist('Deficiencies', 'N/A')">N/A</nb-checkbox>
                <input *ngIf="checked" nbInput fullWidth placeholder="How Much?">
            </nb-list-item>
            <nb-list-item>
                <label> MEAL Book Entry:</label>
                <nb-checkbox class="float-right" status="basic" (checkedChange)="toggle($event)" [(ngModel)]="tempChecklist.Book.Fail" (change)="applyToChecklist('Book', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Book.Issues" (change)="applyToChecklist('Book', 'Issues')">Issues</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Book.Pass" (change)="applyToChecklist('Book', 'Pass')">Pass</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Book.NA" (change)="applyToChecklist('Book', 'N/A')">N/A</nb-checkbox>
                <input *ngIf="checked" nbInput fullWidth placeholder="How Much?">
            </nb-list-item>
        </nb-list>
        <button nbButton class="float-right" ghost size="medium" (click)="finish()">Finish</button>
        <button nbButton ghost size="medium" (click)="cancel()">Cancel</button>
    </nb-card-body>
</nb-card>