<nb-card>
  <nb-card-header>
    <h5>Generated Component</h5>
  </nb-card-header>
  <nb-card-body>
    <b>ObjectId:</b> {{scd.SlotComponentDefId}}<br />
    <b>Signatures:</b> {{scd.Signatures}}<br />
    <b>Description:</b> {{scd.Description}}<br />
    <b>GameName:</b> {{scd.GameName}}<br />
    <b>ComponentType:</b> {{scd.ComponentType}}<br />
    <b>IrisComponentType:</b> {{scd.IrisComponentType}}<br />
    <b>Version:</b> {{scd.Version}}<br />
    <b>ApprovalDate:</b> {{scd.ApprovalDate}}<br />
    <b>ITLs:</b> {{scd.ITLs}}<br />
    <b>ComponentHId:</b> {{scd.ComponentHId}}<br />
  </nb-card-body>
  <nb-card-footer>
    <button nbButton size="medium" class="float-right" (click)="close()">
      Ok
    </button>
  </nb-card-footer>
</nb-card>
