<nb-card [size]="'large'">
  <nb-card-header>
    <div class="clearfix">
      <button nbButton ghost size="medium" class="float-left" (click)="goBack()">
        <nb-icon icon="arrow-ios-back-outline"></nb-icon>Table Game Projects
      </button>
      <h4 style="width: fit-content; margin: auto;">{{project.Name}}</h4>
    </div>
    <p><b>Scheduled Date: </b>{{scheduledDate | date:'mediumDate'}}<br /><b>Description: </b>{{project.Description}}</p>
    <div class="grid-container" *ngIf="selectedState == ''">
      <button nbButton shape="rectangle" status="primary" style="margin-bottom: 5px;"
              (click)=editProject()>
        Edit Project
      </button>
      <button nbButton shape="rectangle" status="primary" style="margin-bottom: 5px;"
              (click)=addRemoveSlots()>
        Add/Remove Table Games
      </button>
      <button nbButton shape="rectangle" status="success" style="margin-bottom: 5px;"
              (click)=completeProject()>
        Complete project
      </button>
    </div>
    <div class="grid-container" style="margin-top: 5px">
      <div *ngIf="availableActions.completeAdd" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=completeAdd()>
          Complete Table Add
        </button>
      </div>
      <div *ngIf="availableActions.completeRemove" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=completeRemove()>
          Complete Table Remove
        </button>
      </div>
      <div *ngIf="availableActions.completeModification" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=completeModification()>
          Complete Modification
        </button>
      </div>
      <div *ngIf="availableActions.stopTournament" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=stopTournament()>
          End Tournament
        </button>
      </div>
      <div *ngIf="availableActions.feltReview" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=feltReview()>
          Felt Review Checklist
        </button>
      </div>
      <div *ngIf="availableActions.activateTournament" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=activateTournament()>
          Activate Tournament
        </button>
      </div>
      <div *ngIf="availableActions.add" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=add()>
          Schedule Table Add
        </button>
      </div>
      <div *ngIf="availableActions.logFeltChange" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=logFeltChange()>
          Log Felt Change
        </button>
      </div>
      <div *ngIf="availableActions.remove" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=remove()>
          Schedule Table Removal
        </button>
      </div>
      <div *ngIf="availableActions.modify" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=modify()>
          Schedule Table Modification
        </button>
      </div>
      <div *ngIf="availableActions.scheduleTournament" style="margin-top: 5px">
        <button nbButton fullWidth style="margin-bottom: 5px;" status="info" (click)=scheduleTournament()>
          Schedule BJ Tournament
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-list *ngIf="loaded">
      <nb-list-item *ngFor="let list of filteredBJTables" class="slim-padding">
        <div class="clearfix">
          <div class="float-left">
            <p><b>{{list.title}}</b></p>
          </div>
          <div class="float-right">
            <nb-toggle [(ngModel)]="list.selected" (ngModelChange)="focusGroup(list)"></nb-toggle>
          </div>
        </div>
        <nb-list>
          <nb-list-item *ngFor="let BJTable of list.BJTables" class="slim-padding">
            <div class="grid-container-slot">
              <div class="grid-slot-tall">
                <button nbButton (click)=openBJTable(BJTable)>
                  Open Game
                </button>
              </div>
              <div class="grid-slot-tall" (click)="toggleBJTable(BJTable, list)">
                {{BJTable.PitTable}} - {{BJTable.SerialNumber}}
                <br>
                <b>Shuffle Type: </b>{{BJTable.ShufflerType}}
                <b>|</b>
                <b>Deck Colors: </b> {{BJTable.DeckColors}}
                <b>|</b>
                <b>No. Spots: </b> {{BJTable.NumberofSpots}}
                <b>|</b>
                <b>No. Decks: </b> {{BJTable.NumberofDecks}}
              </div>
                <div (click)="toggleBJTable(BJTable, list)">
                  <i class="ion-checkmark float-right" *ngIf="BJTable.selected"></i>
                </div>
                <div (click)="toggleBJTable(BJTable, list)">
                  <span class="item-note float-right">{{BJTable.WorkflowState}} </span>
                </div>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
