<nb-card>
    <nb-card-header>
        <!-- <button nbButton ghost size="medium" class="float-left" (click)="goBack()">
        <nb-icon icon="arrow-ios-back-outline"></nb-icon>Storage Slots
      </button> -->
        <h4 style="width: fit-content; margin: auto;">On Floor Slots</h4>
        <input class="searchBar" [(ngModel)]="searchTerm" autocomplete="off" (change)="searchSlots()" type="text"
            nbInput fullWidth placeholder="Search for on floor slots">
    </nb-card-header>
    <nb-card-footer>
        <nb-list>
        <nb-list-item *ngIf="searchTerm.trim().length < 1" style="color: red;" >
          No search term entered
        </nb-list-item>
        <nb-list-item *ngIf="noResults" style="color: red;">
          No stored slots serial number contain: {{searchTerm}}
        </nb-list-item>
      </nb-list>
    </nb-card-footer>
</nb-card>

<nb-card  *ngFor="let slot of slotViews">
    <!-- <nb-card-header class="slots" (click)=selectSlot(slot)>
      <button nbButton size="small" class="float-right" (click)=selectSlot(slot)>Open Slot</button>
      <b>Serial Number: </b>{{slot.SerialNumber}} 
    </nb-card-header> -->
    <nb-card-body class="slots" (click)=selectSlot(slot)>   
      <b>Serial Number: </b>{{slot.SerialNumber}} <b>|</b> 
      <b>Machine #:</b>{{slot.SlotNumber}} <b>|</b> 
      <b>License #:</b>{{slot.LicenseNumber}}
      <br>
      <b>Location:</b>{{slot.FloorLocation}} <b>|</b>
      <b>Zone:</b>{{slot.Zone}}  <b>|</b>
      <b>Floor Address:</b>{{slot.Address}} <b>|</b>
      <b>Manufacturer:</b> {{slot.DisplayManufacturer}} 
      <i class="float-right">{{slot.WorkflowState}} </i>
        
    </nb-card-body>
  </nb-card>



