@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '../../@core/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

/* Global customization for menu items */
nb-menu-item {
  color: #ff6347; /* Custom text color for all menu items */
  border: none !important; /* Remove gray bars or borders */
  padding: 0 !important; /* Optional: adjust padding to remove spacing between items */
}

/* Optionally, set hover color */
nb-menu-item:hover {
  color: #00bfff; /* Hover text color */
}

/* To target menu items within a menu that contains sub-items */
nb-menu nb-menu-item {
  border: none !important;
}

/* If there is a divider or border between sub-menu items */
nb-menu nb-menu-item > nb-menu-item {
  border: none !important;
}