<nb-card [size]="'large'">
    <nb-card-header>
        <button nbButton ghost size="medium" class="float-left" (click)="cancel()">Cancel</button>
        <h4 style="width: fit-content; margin: auto;">Emergency Drop Inspection</h4>
    </nb-card-header>
    <nb-card-body >
        <nb-list>
            <nb-list-item>
                <label>Was the Gamming Commission notified by phone and email by <br> the approved personnel? (Surveillance notified) </label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.NotifiedByPhone.No" (change)="applyToChecklist('NotifiedByPhone', 'No')">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.NotifiedByPhone.Yes" (change)="applyToChecklist('NotifiedByPhone', 'Yes')">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Is the person initialing the Emergency Drop authorized? </label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.EmergencyDropAuthorized.No" (change)="applyToChecklist('EmergencyDropAuthorized', 'No')">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.EmergencyDropAuthorized.Yes" (change)="applyToChecklist('EmergencyDropAuthorized', 'Yes')">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label>GE Team Members Present:</label>
                <nb-list>
                    <nb-list-item class="required">
                        <label>Hardcount personnel:</label> 
                        <nb-select class="float-right" placeholder="Select Personnel" [(selected)]="checklist.HardcountPersonnel">
                            <nb-option *ngFor="let person of people" [value]="person.FullName">{{person.FullName}}</nb-option>
                          </nb-select>
                    </nb-list-item>
                </nb-list>
                <nb-list>
                    <nb-list-item class="required">
                       <label>Security personnel:</label>
                       <nb-select class="float-right" placeholder="Select Personnel" [(selected)]="checklist.SecurityPersonnel">
                         <nb-option *ngFor="let person of people" [value]="person.FullName">{{person.FullName}}</nb-option>
                       </nb-select>
                    </nb-list-item>
                </nb-list>
                <nb-list>
                    <nb-list-item class="required">
                       <label>Slot personnel:</label> 
                       <nb-select class="float-right" placeholder="Select Personnel" [(selected)]="checklist.SlotPersonnel">
                         <nb-option *ngFor="let person of people" [value]="person.FullName">{{person.FullName}}</nb-option>
                       </nb-select>
                    </nb-list-item>
                </nb-list>
            </nb-list-item>
            <nb-list-item>
                <label>Was the Gamming Commission approved procedure followed?</label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.ApprovedProcedureFollowed.No" (change)="applyToChecklist('ApprovedProcedureFollowed', 'No')">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.ApprovedProcedureFollowed.Yes" (change)="applyToChecklist('ApprovedProcedureFollowed', 'Yes')">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label>Were the funds secured? (Appropriate team member present)</label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.FundsSecured.No" (change)="applyToChecklist('FundsSecured', 'No')">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.FundsSecured.Yes" (change)="applyToChecklist('FundsSecured', 'Yes')">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> If immediately counted, were procedures followed properly? <br> (Team member present and cage transmittal utilized)</label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.ProceduresFollowed.NA" (change)="applyToChecklist('ProceduresFollowed', 'NA')">N/A</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.ProceduresFollowed.No" (change)="applyToChecklist('ProceduresFollowed', 'No')">No</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.ProceduresFollowed.Yes" (change)="applyToChecklist('ProceduresFollowed', 'Yes')">Yes</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Was the Emergency Drop compliant?</label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.EmergencyDropCompliant.Fail" (change)="applyToChecklist('EmergencyDropCompliant', 'Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.EmergencyDropCompliant.Pass" (change)="applyToChecklist('EmergencyDropCompliant', 'Pass')">Pass</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label>Inspection comments:</label>
                <textarea nbInput fullWidth placeholder="Comments" [(ngModel)]="checklist.Comments"></textarea>
            </nb-list-item>
        </nb-list>
        <button nbButton class="float-right" ghost size="medium" (click)="finish()">Finish</button>
        <button nbButton ghost size="medium" (click)="cancel()">Cancel</button>
    </nb-card-body>
</nb-card>
