<nb-card [size]="'large'">
    <nb-card-header>
        <h4 style="width: fit-content; margin: auto;">Media Verification</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item>
                <label>Reason for Media Verification:</label>
                <input nbInput class="float-right" placeholder="How Much?">
            </nb-list-item>
            <nb-list-item>
                <label>OS Payback Percentage:</label>
                <nb-radio-group class="float-right" [(ngModel)]="payback">
                    <nb-radio *ngFor="let payback of paybacks" 
                    [value]="payback.value" 
                    style="display: inline-block;">
                        {{ payback.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label> OS Program Number: </label>
                <nb-radio-group class="float-right" [(ngModel)]="program">
                    <nb-radio *ngFor="let program of programs" 
                    [value]="program.value" 
                    style="display: inline-block;">
                        {{ program.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item> 
            <nb-list-item>
                <label> OS Max Bet:</label>
                <nb-radio-group class="float-right" [(ngModel)]="bet">
                    <nb-radio *ngFor="let bet of bets" 
                    [value]="bet.value" 
                    style="display: inline-block;">
                        {{ bet.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label> Check Max Credits/Lines:</label>
                <nb-radio-group class="float-right" [(ngModel)]="credit">
                    <nb-radio *ngFor="let credit of credits" 
                    [value]="credit.value" 
                    style="display: inline-block;">
                        {{ credit.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label> Check TITO: </label>
                <nb-radio-group class="float-right" [(ngModel)]="check">
                    <nb-radio *ngFor="let check of checks" 
                    [value]="check.value" 
                    style="display: inline-block;">
                        {{ check.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label> Verify Ticket Limit of $1199:</label>
                <nb-radio-group class="float-right" [(ngModel)]="verify">
                    <nb-radio *ngFor="let verify of verifys" 
                    [value]="verify.value" 
                    style="display: inline-block;">
                        {{ verify.label }}
                    </nb-radio>
                </nb-radio-group>
            </nb-list-item>
            <nb-list-item>
                <label> Signature: </label>
                <nb-radio-group class="float-right" [(ngModel)]="signature">
                    <nb-radio *ngFor="let signature of signatures" 
                    [value]="signature.value" 
                    style="display: inline-block;">
                        {{ signature.label }}
                    </nb-radio>
                </nb-radio-group>    
            </nb-list-item>
            <nb-list-item>
                <label>Record Verified Game Media Signature(s):</label>
                <textarea nbInput fullWidth placeholder="Comments"></textarea>
            </nb-list-item>
        </nb-list>
        <button nbButton class="float-right" ghost size="medium" (click)="finish()">Finish</button>
        <button nbButton ghost size="medium" (click)="cancel()">Cancel</button>
    </nb-card-body>
</nb-card>