<nb-card [size]="'large'">
    <nb-card-header>
        <button nbButton ghost size="medium" class="float-left" (click)="cancel()">Cancel</button>
        <h4 style="width: fit-content; margin: auto;">Media Verification</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item class="required">
                <label>Reason for Media Verification:</label>
                <input nbInput class="float-right" placeholder="How Much?" [(ngModel)]="checklist.Verification">
            </nb-list-item>
            <nb-list-item>
                <label>OS Payback Percentage:</label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.PaybackPercentage.Fail" (change)="applyToChecklist('PaybackPercentage','Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.PaybackPercentage.Pass" (change)="applyToChecklist('PaybackPercentage','Pass')">Pass</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> OS Program Number: </label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.ProgramNumber.Fail" (change)="applyToChecklist('ProgramNumber','Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.ProgramNumber.Pass" (change)="applyToChecklist('ProgramNumber','Pass')">Pass</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> OS Max Bet:</label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.MaxBet.Fail" (change)="applyToChecklist('MaxBet','Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.MaxBet.Pass" (change)="applyToChecklist('MaxBet','Pass')">Pass</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Check Max Credits/Lines:</label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.MaxCredit.Fail" (change)="applyToChecklist('MaxCredit','Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.MaxCredit.Pass" (change)="applyToChecklist('MaxCredit','Pass')">Pass</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Check TITO: </label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Check.Fail" (change)="applyToChecklist('Check','Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Check.Pass" (change)="applyToChecklist('Check','Pass')">Pass</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Check.NoTITO" (change)="applyToChecklist('Check','NoTITO')">No TITO</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Verify Ticket Limit of $1199:</label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.TicketLimit.Fail" (change)="applyToChecklist('TicketLimit','Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.TicketLimit.Pass" (change)="applyToChecklist('TicketLimit','Pass')">Pass</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.TicketLimit.NoTITO" (change)="applyToChecklist('TicketLimit','NoTITO')">No TITO</nb-checkbox>
            </nb-list-item>
            <nb-list-item>
                <label> Signature: </label>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Signature.Fail" (change)="applyToChecklist('Signature','Fail')">Fail</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Signature.Pass" (change)="applyToChecklist('Signature','Pass')">Pass</nb-checkbox>
                <nb-checkbox class="float-right" status="basic" [(ngModel)]="tempChecklist.Signature.NotTested" (change)="applyToChecklist('Signature','NotTested')">Not Tested</nb-checkbox>
            </nb-list-item>
            <nb-list-item class="required">
                <label>Record Verified Game Media Signature(s):</label>
                <textarea nbInput fullWidth placeholder="Enter signatures" [(ngModel)]="checklist.MediaSignature"></textarea>
            </nb-list-item>
        </nb-list>
        <button nbButton class="float-right" ghost size="medium" (click)="finish()">Finish</button>
        <button nbButton ghost size="medium" (click)="cancel()">Cancel</button>
    </nb-card-body>
</nb-card>
