<nb-card *ngIf="BJTable">
  <nb-card-header>
    <div>
      <button nbButton ghost size="medium" class="float-left" (click)="back()">
        <nb-icon icon="arrow-ios-back-outline"></nb-icon>Table Games
      </button>
      <h4 style="width: fit-content; margin: auto; margin-top: .5em;">Table Game</h4>
    </div>
    <nb-list style="margin-top: 3em;">
      <nb-list-item><b>{{BJTable.PitTable}} - {{BJTable.SerialNumber}}</b></nb-list-item>
      <nb-list-item><b>Shuffler Type: </b>{{BJTable.ShufflerType}}</nb-list-item>
      <nb-list-item><b>Number of Decks: </b>{{BJTable.NumberofDecks}}</nb-list-item>
      <nb-list-item><b>Number of Spots: </b>{{BJTable.NumberofSpots}}</nb-list-item>
      <nb-list-item><b>Deck Colors: </b>{{BJTable.DeckColors}}</nb-list-item>
      <nb-list-item><b>Status: </b>{{BJTable.WorkflowState}}</nb-list-item>
    </nb-list>
  </nb-card-header>
  <nb-card-body>
    <button nbButton size="large" fullWidth (click)=scheduleTableModification() *ngIf="availableActions.modify">Schedule Table Modification</button>
    <button nbButton size="large" fullWidth (click)=scheduleTableRemove() *ngIf="availableActions.remove">Schedule Table Remove</button>
    <button nbButton size="large" fullWidth (click)=scheduleBJTournament() *ngIf="availableActions.scheduleTournament">Schedule BJ Tournament</button>
    <button nbButton size="large" fullWidth (click)=logFeltChange() *ngIf="(gds.isBJFeltLog || gds.isAdmin) && availableActions.logFeltChange">Log Felt Change</button>
    <button nbButton size="large" disabled fullWidth (click)=tableAddNotification() *ngIf="availableActions.add">Table Add Notification</button>
    <button nbButton size="large" disabled fullWidth (click)=activateTournament() *ngIf="availableActions.activateTournament">Activate Tournament</button>
    <button nbButton size="large" fullWidth (click)=feltChangeChecklist() *ngIf="(gds.isGamingAgent || gds.isAdmin) && availableActions.feltReview">Felt Review Checklist</button>
    <button nbButton size="large" disabled fullWidth (click)=stopTournament() *ngIf="availableActions.stopTournament">End Tournament</button>
    <button nbButton size="large" fullWidth (click)=compareModification() *ngIf="(gds.isBJFeltLog || gds.isAdmin) && availableActions.completeModification">Complete Modification</button>
    <button nbButton size="large" disabled fullWidth (click)=completeAdd() *ngIf="availableActions.completeAdd">Complete Table Add</button>
    <button nbButton size="large" fullWidth (click)=compareRemoval() *ngIf="availableActions.completeRemoval">Complete Table Remove</button>
  </nb-card-body>
</nb-card>
