button {
  margin: 5px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 5px;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.full-border {
  border: 1px solid #edf1f7;
}

.model-full {
  width: 100% !important;
  height: 100% !important;

  .cdk-visually-hidden {
    width: 99% !important;
    height: 99% !important;
  }

  nb-dialog-container {
    width: 100% !important;
    height: 100% !important;
  }
}
