<nb-card style="align-items: center;">
    <nb-card-header>
        <h4>Break Seal </h4>
    </nb-card-header>
    <nb-card-body>
        <label>Reason for Replacement</label> <br>
        <nb-select placeholder="Select Showcase" [(selected)]="ReplacementReason">
            <nb-option value="">Option empty</nb-option>
            <nb-option value="0">Conversion</nb-option>
            <nb-option value="1">RAM Cleared</nb-option>
            <nb-option value="2">Missing Seal</nb-option>
            <nb-option value="3">Broken Seal</nb-option>
            <nb-option value="4">Seal Defective</nb-option>
            <nb-option value="5">Jackpot Verification</nb-option>
            <nb-option value="6">Machine or Option Set-up</nb-option>
            <nb-option value="7">GC Slot Inspection</nb-option>
            <nb-option value="8">IA Slot Inspection</nb-option>
            <nb-option value="9">MFG Never Shipped</nb-option>
          </nb-select>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton class="float-left" outline status="danger" (click)="cancelBreakSeal()">Cancel Break Seal</button>
        <button nbButton class="float-right" outline (click)="break()">Ok</button>
    </nb-card-footer>
</nb-card>