<div class="base-grid-container">
  <nb-card>
    <nb-card-header>
      <div class="header-container">
        <button nbButton ghost size="medium" class="float-left" (click)="goBack()">
          <nb-icon icon="arrow-ios-back-outline"></nb-icon> Back
        </button>
        <h4 style="width: fit-content; margin: auto; margin-top:.2em;">Add / Remove Slots ({{ addedSlots.length }})</h4>
        <button nbButton size="medium" status="success" class="float-right" (click)=save()>Save</button>
      </div>
    </nb-card-header>
    <nb-card-body>
          <nb-list [@listAnimation]="addedSlots.length">
            <nb-list-item *ngFor="let slot of addedSlots" (click)=removeSlot(slot) class="dynamic-list-item">
              <b>Serial Number: </b>{{slot.SerialNumber}} <b>|</b>
              <b>Machine #:</b>{{slot.SlotNumber}} <b>|</b>
              <b>License #:</b>{{slot.LicenseNumber}}
              <br>
              <b>Location:</b>{{slot.DisplayLocation}} <b>|</b>
              <b>Zone:</b>{{slot.Zone}}  <b>|</b>
              <b>Floor Address:</b>{{slot.Address}}
              <br />
              <b>Manufacturer:</b> {{slot.DisplayManufacturer}} <b>|</b>
              <b>Updated By:</b> {{slot.DisplayUpdatedBy }}
              <i class="float-right">{{slot.WorkflowState}} </i>
            </nb-list-item>
          </nb-list>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header [nbSpinner]="loading">
      <h4 style="width: fit-content; margin: auto;">Add Slots</h4>
      <input class="searchBar" [(ngModel)]="searchTerm" autocomplete="off" (change)="searchSlots()" type="text"
             nbInput fullWidth placeholder="Search for slots">
    </nb-card-header>
    <nb-card-body>
      <nb-list [@listAnimation]="slotViews.length">
        <nb-list-item *ngFor="let slot of FilteredSlotsList" class="dynamic-list-item" (click)=addSlot(slot)>
          <b>Serial Number: </b>{{slot.SerialNumber}} <b>|</b>
          <b>Machine #:</b>{{slot.SlotNumber}} <b>|</b>
          <b>License #:</b>{{slot.LicenseNumber}}
          <br>
          <b>Location:</b>{{slot.DisplayLocation}} <b>|</b>
          <b>Zone:</b>{{slot.Zone}}  <b>|</b>
          <b>Floor Address:</b>{{slot.Address}}
          <br />
          <b>Manufacturer:</b> {{slot.DisplayManufacturer}} <b>|</b>
          <b>Updated By:</b> {{slot.DisplayUpdatedBy }}
          <i class="float-right">{{slot.WorkflowState}} </i>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>
