<!--<nb-card>
  <button nbButton size="medium" class="float-left" (click)="goBack()"><nb-icon icon="arrow-ios-back-outline"></nb-icon>Slots Projects</button>
  <h4 style="width: fit-content; margin: auto; margin-bottom: .5em; margin-top:.5em;">Start Slot Project</h4>
</nb-card>-->
<div class="base-grid-container">
  <nb-card>
    <nb-card-header>
      <div class="header-container">
        <button nbButton ghost size="medium" class="float-left" (click)="goBack()">
          <nb-icon icon="arrow-ios-back-outline"></nb-icon> Back
        </button>
        <h4 style="width: fit-content; margin: auto; margin-top:.2em;">Start Project</h4>
        <button nbButton size="medium" status="success" class="float-right" (click)=save()>Save</button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Info">
          <nb-list>
            <nb-list-item><div class="grid-container"><div class="vertical-center"><b>Name:</b></div><input [(ngModel)]="Project.Name" autocomplete="off" type="text" nbInput fullWidth></div></nb-list-item>
            <nb-list-item>
              <div class="grid-container">
                <div class="vertical-center"><b>Due Date:</b></div><input nbInput placeholder="Select Date" [nbDatepicker]="datePicker" [(ngModel)]="scheduledDate">
                <nb-datepicker #datePicker></nb-datepicker>
              </div>
            </nb-list-item>
            <nb-list-item><div class="grid-container"><div class="vertical-center"><b>Description:</b></div><textarea rows="10" [(ngModel)]="Project.Description" autocomplete="off" type="text" nbInput fullWidth></textarea></div></nb-list-item>
          </nb-list>
          <!--<button nbButton fullWidth status="success" (click)=save()>Save</button>-->
        </nb-tab>
        <nb-tab tabTitle="Table Games ({{addedSlots.length}})">
          <nb-list [@listAnimation]="addedSlots.length">
            <nb-list-item *ngFor="let slot of addedSlots" (click)=removeSlot(slot) class="dynamic-list-item">
              {{slot.PitTable}} - {{slot.SerialNumber}}
              <br>
              <b>Shuffle Type: </b>{{slot.ShufflerType}}
              <b>|</b>
              <b>Deck Colors: </b> {{slot.DeckColors}}
              <b>|</b>
              <b>No. Spots: </b> {{slot.NumberofSpots}}
              <b>|</b>
              <b>No. Decks: </b> {{slot.NumberofDecks}}
              <i class="float-right">{{slot.WorkflowState}} </i>
            </nb-list-item>
          </nb-list>
          <!--<div>
            <h3>List Two</h3>
            <ul [@listAnimation]="listTwo.length">
              <li *ngFor="let item of listTwo">{{ item }}</li>
            </ul>
          </div>-->
          <!--<button *ngIf="addedSlots.length > 0" nbButton fullWidth status="success" (click)=save()>Save</button>-->
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header [nbSpinner]="loading">
      <h4 style="width: fit-content; margin: auto;">Add Table Games</h4>
      <input class="searchBar" [(ngModel)]="searchTerm" autocomplete="off" (change)="searchSlots()" type="text"
             nbInput fullWidth placeholder="Search for table games">
    </nb-card-header>
    <nb-card-body>
      <!--<div>
        <h3>List One</h3>
        <ul [@listAnimation]="listOne.length">
          <li *ngFor="let item of listOne" (click)="moveItem(item)">{{ item }}</li>
        </ul>
      </div>-->

      <nb-list [@listAnimation]="slotViews.length">
        <nb-list-item *ngFor="let slot of FilteredSlotsList" class="dynamic-list-item" (click)=addSlot(slot)>
          {{slot.PitTable}} - {{slot.SerialNumber}}
          <br>
          <b>Shuffle Type: </b>{{slot.ShufflerType}}
          <b>|</b>
          <b>Deck Colors: </b> {{slot.DeckColors}}
          <br>
          <b>No. Spots: </b> {{slot.NumberofSpots}}
          <b>|</b>
          <b>No. Decks: </b> {{slot.NumberofDecks}}
          <i class="float-right">{{slot.WorkflowState}} </i>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>
