<nb-card [size]="'large'">
  <nb-card-header>
    <button nbButton ghost size="medium" class="float-left" (click)="goBack()">
      <nb-icon icon="arrow-ios-back-outline"></nb-icon>Slot Projects
    </button>
    <h4 style="width: fit-content; margin: auto;"> {{slotProject.Name}} </h4>
    <div style="width: fit-content; text-align: center; margin:auto;">
      <button  nbButton shape="rectangle" status="primary" style="margin-bottom: 5px;"
        (click)=editProject()>Edit Project</button>
      <button nbButton shape="rectangle" status="info" style="margin-bottom: 5px;"
        (click)=addRemoveTables()>Add/ Remove Tables</button>
      <button nbButton shape="rectangle" status="success" style="margin-bottom: 5px;"
        (click)=completeProject()>Complete project</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item>
        <nb-toggle class="float-right"></nb-toggle>
        <p>Active</p>
      </nb-list-item>
      <nb-list-item>
        <h5>Slot 1</h5>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>