<nb-card [size]="'large'">
    <nb-card-header>
        <button nbButton ghost size="medium" class="float-left" (click)="goBack()">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>Stored Slots
        </button>
        <h4 style="width: fit-content; margin: auto;">Storage Slot</h4>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item>
                <label>Serial Number:</label>
            </nb-list-item>
            <nb-list-item>
                <label>Slot #:</label>
            </nb-list-item>
            <nb-list-item>
                <label>Manufacturer:</label>
            </nb-list-item>
            <nb-list-item>
                <label>Cabinet Model:</label>
            </nb-list-item>
            <nb-list-item>
                <label>Game Chip:</label>
            </nb-list-item>
            <nb-list-item>
                <label>WF State:</label>
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>