<!-- Column Titles (only appear once) -->
<div class="flex mb-4 flex-nowrap w-full">
  <div class="flex-1 text-left font-semibold">Project Name</div>
  <div class="flex-1 text-left font-semibold">Description</div>
  <div class="flex-1 text-left font-semibold">Due Date</div>
</div>


<nb-card>
  <nb-card-header class="relative flex items-center justify-between w-full">

    <!-- Slot Projects Title (stays on the left) -->
    <span class="header-text">Slot Projects</span>
    
    <!-- Search Input -->
    <input 
    type="text" 
    nbInput 
    placeholder="Search projects" 
    class="search-input mx-10">

    <!-- Start New Project Button (positioned to the far right) -->
    <button nbButton status="primary" (click)="newProject()" class="start-new-project-btn">
      Start New Project
    </button>

  </nb-card-header>

  <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="danger">
    
  
    <!-- List of Slot Projects -->
    <nb-list>
      <nb-list-item *ngFor="let slotProject of slotProjects" class="flex justify-between">
        <!-- Project Name Column -->
        <div class="w-1/3">
          <div>{{ slotProject.Name }}</div>
        </div>
  
        <!-- Description Column -->
        <div class="w-1/3 px-4">
          <div>{{ slotProject.Description }}</div>
        </div>
  
        <!-- Due Date Column -->
        <div class="w-1/3">
          <div>{{ slotProject.DueDate | date: 'mediumDate' }}</div>
        </div>
  
        <!-- Open Project Button -->
        <button nbButton size="small" (click)="openProject(slotProject)" class="float-right">
          Open Project
        </button>
      </nb-list-item>
    </nb-list>
  </nb-card-body>

</nb-card>
<!--<nb-card *ngFor=" let slotProject of slotProjects">
  <nb-card-header>
    <button nbButton size="small" class="float-right" (click)=openProject(slotProject)>Open Project</button>
    <h5> {{slotProject.Name}} </h5>
  </nb-card-header>
  <nb-card-body>
    <b>Description:</b> {{slotProject.Description}} <br>
    <b>Due Date:</b> {{slotProject.DueDate | date: mediumDate}}
  </nb-card-body>
</nb-card>-->
