nb-list-item {
  border: none !important;
  box-shadow: none !important;
}

.header-container {
  border: none !important;
  border-bottom: none !important;
}

.search-input,
.start-new-project-btn {
  border: none !important;
}


/* styles.css or component-specific stylesheet */
.search-input {
  width: 100%; /* Make the search input take available space */
  max-width: 300px; /* Control maximum width of search input */
  padding: 2px;
  size: 14px;
  background-color: transparent !important;  /* Remove background color */
  border: .2px solid #63738118;     
  border-radius: 3px;
  margin-left: 30px;
  font-weight: 400;
}

.search-input::placeholder{
  color: #333333;
}

/* Prevent border on hover and focus */
.search-input:hover, 
.search-input:focus {
  border-color: transparent !important; /* Ensure no border appears on hover or focus */
}

.start-new-project-btn {
  position: absolute;
  right: 0; /* Push button to the far right */
  top: 50%;
  transform: translateY(-50%); /* Vertically center the button */
  margin-right: 20px; /* Adjust this if you want some spacing */
}

.relative {
  position: relative; /* Allows the absolute positioning of the button */
}

/* Container to hold the header elements */
.header-container {
  color: #333333;
  font-weight: 500;
  size: 14px;
  display: flex;
  justify-content: space-between; /* Pushes the "Due Date" to the far right */
  width: 100%;
  padding: 0;
  margin-bottom: 32px; /* Adds some space between the headers and the list items */
}


/* Optional: Space between "Project Name" and "Description" */
.project-name {
  margin-right: 16px; /* Adjust as needed */
}

.slotProject-container{
  color: #637381;
  font-weight: 500;
  size: 14px;
  display: flex;
  justify-content: space-between; /* Pushes the "Due Date" to the far right */
  width: 100%;
  padding: 0;
  margin-bottom: 16px;
}

.project-name-column{
  width: 140px;
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show '...' for overflowed text */
}

.description-header{
  margin-left: 96px;
}

.description-column{
  margin-left: 32px;
  max-width: 500px; /* Adjust this value as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show '...' for overflowed text */
}

.nb-list-item {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  padding: 10px 0; /* Optional: Add vertical spacing between list items */
}

.date-column{
  margin-left: auto;
  max-width: 200px; /* Adjust this value as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show '...' for overflowed text */
}

.project-name-column,
.description-column,
.date-column {
  margin-bottom: 8px; /* Optional: Space between each column */
}