<nb-card>
  <nb-card-header class="relative flex items-center justify-between w-full">

    <!-- Slot Projects Title (stays on the left) -->
    <span class="header-text">Slot Projects</span>
    
    <!-- Search Input -->
    <input 
    type="text" 
    nbInput 
    placeholder="Search projects" 
    class="search-input mx-10">

    <!-- Start New Project Button (positioned to the far right) -->
    <button nbButton status="primary" (click)="newProject()" class="start-new-project-btn">
      Start New Project
    </button>

  </nb-card-header>

  <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="danger">

    <!-- Column Titles Row -->
    <section class="header-container">
      <span class="project-name">Project Name</span>
      <span class="description">Description</span>
      <span class="due-date">Due Date</span>
    </section>
  
    <!-- List of Slot Projects -->
  <nb-list>
    <nb-list-item *ngFor="let slotProject of slotProjects" class="header-container">
      <!-- Project Name Column -->
      <span class="project-name-column clickable-text" (click)="openProject(slotProject)">
        <span>{{ slotProject.Name }}</span>
      </span>
    
      <!-- Description Column -->
      <span class="description">
        <span class="ml-4">{{ slotProject.Description }}</span>
      </span>
    
      <!-- Due Date Column -->
      <span class="due-date">
        <span>{{ slotProject.DueDate | date: 'mediumDate' }}</span>
      </span>
    </nb-list-item>
    
    <!-- Open Project Button -->
      <!-- <button nbButton size="small" (click)="openProject(slotProject)" class="float-right">
        Open Project
      </button> -->
  </nb-list>
  </nb-card-body>

</nb-card>
<!--<nb-card *ngFor=" let slotProject of slotProjects">
  <nb-card-header>
    <button nbButton size="small" class="float-right" (click)=openProject(slotProject)>Open Project</button>
    <h5> {{slotProject.Name}} </h5>
  </nb-card-header>
  <nb-card-body>
    <b>Description:</b> {{slotProject.Description}} <br>
    <b>Due Date:</b> {{slotProject.DueDate | date: mediumDate}}
  </nb-card-body>
</nb-card>-->
