<nb-card [size]="'large'">
  <nb-card-header>
    <button nbButton ghost size="medium" class="float-left" (click)="goBack()">
      <nb-icon icon="arrow-ios-back-outline"></nb-icon>Slots Project
    </button>
    <h4 style="width: fit-content; margin: auto;">Edit Slot Project</h4>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item>
        <label><b>Name: </b></label>
        <input type="text" nbInput placeholder="Name" [(ngModel)]="project.Name" fullWidth>
      </nb-list-item>
      <nb-list-item>
        <div class="grid-container">
          <div class="vertical-center"><b>Due Date:</b></div><input nbInput placeholder="Select Date" [nbDatepicker]="datePicker" [(ngModel)]="scheduledDate">
          <nb-datepicker #datePicker></nb-datepicker>
        </div>
      </nb-list-item>
      <nb-list-item>
        <label><b>Description: </b></label>
        <textarea nbInput fullWidth placeholder="Description" [(ngModel)]="project.Description" rows="4"></textarea>
      </nb-list-item>
    </nb-list>
    <button nbButton fullWidth status="success" (click)=save()>Save</button>
  </nb-card-body>
</nb-card>
